*{
    background-color: snow;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    padding-left: 5;
    font-size: 50px;
    display: inline-block;
}

a{
    
    
    font-weight: bold;
    font-size: 18px;
}